<a class="anchor" id="artists_anchor"></a>
<div class="artist-selector container-fluid">
    <h1> Our Artists </h1>
    <nav>
        {{ range $index, $artist := .Artists }}
        <a href="#{{$artist.Slug }}" data-toggle="collapse" class="artist-link {{ (cond (eq $index 0) "" "collapsed") }}" aria-controls="{{$artist.Slug}}" aria-expanded="{{ (cond (eq $index 0) "true" "false") }}">{{$artist.Name}}</a>
        {{ end }}
    </nav>
</div>
<div id="artists" class="container-fluid">
    {{ range $index, $artist := .Artists }}
    <div id="{{$artist.Slug}}" class="artist-about collapse {{ (cond (eq $index 0) "show" "") }}" data-parent="#artists">
        <div class="row">
            <div class="col-sm-6 col-lg-4 offset-lg-2 offset-sm-0">
                <h3> {{$artist.FullName }} </h3>
                <img class="img-fluid" alt="{{$artist.Name}} image" src="/images/artists/{{$artist.Slug}}/{{ $artist.PortraitImageName }}"/>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h5> About </h5>
                <p> {{$artist.About}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-8 offset-lg-2 offset-sm-0">
                <div class="artist-gallery gallery">
                {{ range $img := .Images }}
                    <img src="/images/artists/{{$artist.Slug}}/{{$img.Name}}" alt="{{$img.Alt}}" width="100%" height="auto" class="gallery-img" />		
                {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
<script>
    function setupArtistSelector() {
        jQuery('.artist-link').on('click', function (event) {
            if (!event.target.classList.contains('collapsed')) {
                event.stopPropagation();
                event.preventDefault();
            }
        });
    }
    setTimeout(setupArtistSelector, 1);
</script>
