<form class="contact-form">
  <div class="form-group">
    <label for="emailinput">Email</label>
    <input type="email" class="form-control" id="emailinput" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="nameinput">Name</label>
    <input type="text" class="form-control" id="nameinput" placeholder="John Doe">
  </div>
  <div class="form-group">
    <label for="messageinput">Message</label>
    <textarea class="form-control" id="messageinput" rows="4"></textarea>
  </div>
  <p> TODO add image upload </p>
  <button type="submit" class="btn btn-dark">Contact</button>
</form>
