<a class="anchor" id="gallery_anchor"></a>
{{ if .ShowHeader }}
<div class="gallery-header container-fluid {{ (cond .DarkHeader "dark" "") }} ">
    <div class="row header">
        <div class="col-sm-10 offset-sm-1">
            <h1> Gallery </h1>
        </div>
    </div>
</div>
{{ end }}
<div id="gallery" class="gallery-content container-fluid">
    <div class="gallery">
        {{ range .Images }}
            <img src="/images/gallery/{{.Name}}" alt="{{.Alt}}" width="100%" height="auto" class="gallery-img" />		
        {{ end }} 
    </div>
</div>
