<div class="container-fluid testimonials">
    <div class="col-sm-10 offset-sm-1">
        <h1>Testimonials</h1>
          <div id="testimonialcarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="testimonial">
                    <h3> Ryan Wise </h3>
                    <p> "Great shop love the prices" </p>
                    <p class="date"> January 23rd 2019 </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="testimonial">
                    <h3> Ryan Wise </h3>
                    <p> Great shop love the prices </p>
                    <p class="date"> January 23rd 2019 </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="testimonial">
                    <h3> Ryan Wise </h3>
                    <p> Great shop love the prices </p>
                    <p class="date"> January 23rd 2019 </p>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#testimonialcarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonialcarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>
