<div class="container-fluid testimonials">
    <div class="col-sm-10 offset-sm-1">
        <h1>Testimonials</h1>
          <div id="testimonialcarousel" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
			<li data-target="#testimonialcarousel" data-slide-to="0" class="active"></li>
			<li data-target="#testimonialcarousel" data-slide-to="1"></li>
			<li data-target="#testimonialcarousel" data-slide-to="2"></li>
		  </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="testimonial">
                    <h3> Ryan Wise </h3>
                    <p> "Great shop love the prices" </p>
                    <p class="date"> January 23rd 2019 </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="testimonial">
                    <h3> Ryan Wise </h3>
                    <p> Great shop love the prices </p>
                    <p class="date"> January 23rd 2019 </p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="testimonial">
                    <h3> Ryan Wise </h3>
                    <p> Great shop love the prices </p>
                    <p class="date"> January 23rd 2019 </p>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
