<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        {{ partial "hero.html" . }}
        {{ partial "aboutus.html" .Site.Data.about }}
        {{ partial "gallery.html" .Site.Data.gallery }}
        {{ partial "testimonials.html" .Site.Data.testimonials }}
        {{ partial "artists.html" .Site.Data.artists }}
        {{ partial "contact.html" . }}
        {{ partial "faq.html" . }}
        {{ partial "footer.html" . }}
        {{ partial "venderscripts.html" . }}
    </body>
</html>
